    .dh-tag-ctn {
      border: 1px inset #ccc;
      padding: 2px 3px;
      display: inline-block;
      width: 440px;
      border-radius: 3px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    }
      .dh-tag-ctn-view {
      
      
      padding: 2px 3px;
      display: inline-block;
      width: 440px;
      border-radius: 3px;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
    }
    
    .dh-tag-ctn input {
      display: inline-block;
      float: left;
      height: 18px;
      padding: 15px 2px;
      font-size: 13px;
      line-height: 18px;
      color: black;
      border: 0px;
      margin: 2px;
    }
    
    .dh-tag-ctn input:focus {
      outline: 0;
      box-shadow: 0px;
    }
    /*element.style {
    width: 490px;
}*/
    
    .input-tag.ng-scope-true {
      background-color: red;
    }
    
    dh-tag-ctn .form-control {
      display: block;
      width: 70%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    .dh-tag-ctn .input-tag {
      padding: 7px 7px;
      line-height: 12px;
      font-size: 14px;
      font-weight: 200;
      background-color: #e3eaf6;
      display: -webkit-box;
      float: left;
      border-radius: 9px;
      margin: 2px 5px 2px 0px;
      border: 1px solid #a9b6d2;
    }
    
       .dh-tag-ctn-view .input-tag {
      padding: 7px 7px;
      line-height: 12px;
      font-size: 14px;
      font-weight: 200;
      background-color: #e3eaf6;
      display: -webkit-box;
      float: left;
      border-radius: 9px;
      margin: 2px 5px 2px 0px;
      border: 1px solid #a9b6d2;
    }
    
      .dh-tag-ctn .tag {
    color:red;
    }
    
    .dh-tag-ctn .active-tag-true {
      border-color: rgba(255, 12, 12, 0.8);
    }
    
    .dh-tag-ctn .input-tag:hover {
      background-color: rgba(200, 82, 82, 0.7);
    }
    
    .tag:last-of-type {
      color: rgba(255, 12, 12, 0.8);
    }
    
    .dh-tag-ctn .input-tag .delete-tag {
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      padding: 0px 2px;
    }
    
    .dh-tag-ctn .input-tag .delete-tag:hover {
      background-color: rgba(200, 82, 82, 0.7);
    }
    
     .dh-tag-ctn-view .input-tag .delete-tag {
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
      padding: 0px 2px;
    }
    
    .dh-tag-ctn-view .input-tag .delete-tag:hover {
      background-color: rgba(200, 82, 82, 0.7);
    }